<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Contact</title>
</head>

<body>
    <header>
        <h3> Data Contact Management</h3>
    </header>
    <div class="menu">
        <a href="contacts">Contact</a>
        <a href="groups">Group</a>
        <a href="profiles">Profile</a>
        <a href="addresses">Address</a>
    </div>
    <div id="main-table">

        <table style="width:80%" border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Company</th>
                <th>No. Telp</th>
                <th>Email</th>
                <th>Groups</th>
                <th colspan="3">Action</th>
            </tr>
            <% dataRow.forEach(function(row){%>
                <tr>
                    <td>
                        <%=row.id %>
                    </td>
                    <td>
                        <%=row.name %>
                    </td>
                    <td>
                        <%=row.company %>
                    </td>
                    <td>
                        <%=row.telp_number %>
                    </td>
                    <td>
                        <%=row.email %>
                    </td>
                    <td>

                    </td>

                    <td>
                        <a href="/contacts/edit/<%=row.id%>">Edit</a>
                    </td>
                    <td><a href="/contacts/delete/<%=row.id%>">Delete</a></td>
                    <td>
                        <a href="/contacts/addresses/<%=row.id%>">View Address</a>
                    </td>
                </tr>
                <%})%>
        </table>
    </div>

    <div id="form-input">
        <form action="/contacts" method="post">
            <br> Name:
            <br>
            <input type="text" name="name"> <br> Company:
            <br>
            <input type="text" name="company"><br> Telp:
            <br>
            <input type="text" name="telp"> <br> Email:
            <br>
            <input type="text" name="email"><br>
            <br>

            <br> <input type="submit" value="Save">
        </form>

    </div>


</body>

</html>